registry=https://10.129.176.139/repository/npm-group/
strict-ssl=false
init.author.name = Jenkins
init.author.email = jenkins@telefonica.com
# an email is required to publish npm packages
email=jenkins@telefonica.com
always-auth=true
_auth=amVua2luczphY2NlbnR1cmVUTEY=
strict-ssl=false
unsafe-perm=true
save-exact=true
